# <center>Computer Application in Engineering Design Lab
## <center>Lab 11, BCE Fall 2021
### *Submitted by: Adeel Ishfaq Babar*
### *Id: 200393*
### Date: 19-Dec-2021

In [1]:
class student:
    def _input(a):
        a.rolln=int(input("\nEnter ur roll number ="))
        a.name=str(input("Enter ur name="))
        a.CP=int(input("Enter ur CP Marks ="))
        a.OOP=int(input("Enter ur OOP Marks ="))
        a.CAED=int(input("Enter ur CAED Marks ="))
        
    def show(a):
        print("\nName="+a.name)
        print("Roll No="+str(a.rolln))
        print("CP MARKS="+str(a.CP))     
        print("OOP MARKS="+str(a.OOP))
        print("CAED MARKS="+str(a.CAED))
    
    def total(t):
        total=t.CP+t.OOP+t.CAED
        print("\nTotal Marks of "+t.name+"="+str(total))
        return total
    def avg(a,t):
        avg=t/3
        print("Average ="+str(avg))
        return avg
    
c1=student()
c1._input()
c1.show()
t=c1.total()
c1.avg(t)

c2=student()
c2._input()
c2.show()
t=c2.total()
c2.avg(t)

Enter ur roll number =200393
Enter ur name=Adeel
Enter ur CP Marks =44
Enter ur OOP Marks =33
Enter ur CAED Marks =55

Name=Adeel
Roll No=200393
CP MARKS=44
OOP MARKS=33
CAED MARKS=55

Total Marks of Adeel=132
Average =44.0

Enter ur roll number =234354
Enter ur name=KHAN
Enter ur CP Marks =22
Enter ur OOP Marks =22
Enter ur CAED Marks =22

Name=KHAN
Roll No=234354
CP MARKS=22
OOP MARKS=22
CAED MARKS=22

Total Marks of KHAN=66
Average =22.0

22.0

In [2]:
with open("story.txt","w") as f:
    f.write("My name is Adeel. I am from Peshawar\n")
    f.write("I go to AIR UNIVERSITY.")

with open("story.txt","r") as f:
    R=f.read()
    print(R)

My name is Adeel. I am from Peshawar
I go to AIR UNIVERSITY.

In [3]:
Adeel=80
ALI=70
NOMAN=57
JJ=40
ELAN=20

import module
module.grade(Adeel)
module.grade(ALI)
module.grade(NOMAN)
module.grade(JJ)

A
B
C
C

In [4]:
import json

Nested_dict={1:{'Name=':"Adeel",
                 'ID=':200393,
                 'GPA=':3.2},
             2:{'Name2=':"Sufyan",
                 'ID2=':191968,
                 'GPA=':3.4},
             3:{'Name3=':"Khan",
                 'ID3=':384650,
                 'GPA=':3.6}}

#WRITE
with open("Nested_dict.json","w") as f:
    json.dump(Nested_dict,f)
    
#READ
with open("Nested_dict.json","r") as f:
    j=json.load(f)
    print(j)

{'1': {'Name=': 'Adeel', 'ID=': 200393, 'GPA=': 3.2}, '2': {'Name2=': 'Sufyan', 'ID2=': 191968, 'GPA=': 3.4}, '3': {'Name3=': 'Khan', 'ID3=': 384650, 'GPA=': 3.6}}

In [5]:
import csv

with open("worldcup.csv", "w", newline="") as f:
    data_handler = csv.writer(f, delimiter=",")   #special object
    data_handler.writerow(["Year","HOST",'Final venue','WINNER','Runner-up'])
    data_handler.writerow(["2007", "South Africa","Johannesberg",'India','Pakistan'])
    data_handler.writerow(["2009", "England","London","Pakistan","Sri Lanka"])
    data_handler.writerow(["2010", "West Indies","Brigetown","England","Autralia"])
    data_handler.writerow(["2012", "Sri Lanka","Colombo","West Indies","Sri Lanka"])
    
with open("worldcup.csv") as f:
    contents_of_file = csv.reader(f)
    inlist = []
    for each_line in contents_of_file:
        inlist += each_line
import numpy as np
print(np.array(inlist).reshape(5,5))

[['Year' 'HOST' 'Final venue' 'WINNER' 'Runner-up']
 ['2007' 'South Africa' 'Johannesberg' 'India' 'Pakistan']
 ['2009' 'England' 'London' 'Pakistan' 'Sri Lanka']
 ['2010' 'West Indies' 'Brigetown' 'England' 'Autralia']
 ['2012' 'Sri Lanka' 'Colombo' 'West Indies' 'Sri Lanka']]

In [6]:
#APPEND IN CSV FILE
with open("worldcup.csv", "a", newline="") as f:
    data_handler = csv.writer(f, delimiter=",")
    data_handler.writerow(["2014", "Bangladesh","Dhaka","Sri Lanka","India"])
    data_handler.writerow(["2016", "India","Kolkata","West Indies","England"])

#READ    
with open("worldcup.csv") as f:
    contents_of_file = csv.reader(f)
    inlist = []
    for each_line in contents_of_file:
        inlist += each_line
import numpy as np
print(np.array(inlist).reshape(7,5))

[['Year' 'HOST' 'Final venue' 'WINNER' 'Runner-up']
 ['2007' 'South Africa' 'Johannesberg' 'India' 'Pakistan']
 ['2009' 'England' 'London' 'Pakistan' 'Sri Lanka']
 ['2010' 'West Indies' 'Brigetown' 'England' 'Autralia']
 ['2012' 'Sri Lanka' 'Colombo' 'West Indies' 'Sri Lanka']
 ['2014' 'Bangladesh' 'Dhaka' 'Sri Lanka' 'India']
 ['2016' 'India' 'Kolkata' 'West Indies' 'England']]