# <center>Computer Application in Engineering Design Lab
## <center>Lab 9, BCE Fall 2021
### *Submitted by: Adeel Ishfaq Babar*
### *Id: 200393*
### Date: 12-Dec-2021

In [1]:
# TASK-1:

sample_dict ={'emp1': {'name': 'Jhon',
                       'salary': 7500,},
              'emp2': {'name': 'Emma',
                       'salary': 8000},
              'emp3': {'name': 'Brad',
                       'salary': 500}
}

print(sample_dict,"\n")
sample_dict['emp3']['salary']= 8500
print(str(sample_dict).replace(', ',',\n '))

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500}}

{'emp1': {'name': 'Jhon',
 'salary': 7500},
 'emp2': {'name': 'Emma',
 'salary': 8000},
 'emp3': {'name': 'Brad',
 'salary': 8500}}

In [2]:
# TASK-2

sample_dict = {
'Physics': 82,
'Math': 65,
'history': 75
}
print(min(sample_dict, key=sample_dict.get))

Math

In [3]:
# TASK-3

sample_dict = {
"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New york"
}

sample_dict['Place'] = sample_dict.pop('city')
print(str(sample_dict).replace(', ',',\n '))

{'name': 'Kelly',
 'age': 25,
 'salary': 8000,
 'Place': 'New york'}

In [4]:
#Task-4

sample_dict = {'a': 100, 'b': 200, 'c': 300}

if 200 in sample_dict.values():
    print('200 Found')

200 Found

In [5]:
#Task-5

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
# Keys to remove
keys = ["name", "salary"]

for i in keys:
    sample_dict.pop(i)
print(sample_dict)

{'age': 25, 'city': 'New york'}

In [6]:
#Task-6

d={} 
for i in range(5): 
    roll_no=int(input("Enter Roll no = ")) 
    Name=input("Enter Name: ") 
    GPA=float(input("Enter GPA: ")) 
    d[roll_no]=[Name,GPA] 

display = int(input("Enter Student to display ="))

if display in d.keys():
    print(d[display])

Enter Roll no = 200393
Enter Name: Adeel
Enter GPA: 3.4
Enter Roll no = 200999
Enter Name: Mujatabah
Enter GPA: 3.4
Enter Roll no = 200394
Enter Name: Sufy
Enter GPA: 3.2
Enter Roll no = 9748345
Enter Name: saim
Enter GPA: 3.6
Enter Roll no = 93474
Enter Name: Khan
Enter GPA: 3.1
Enter Student to display =200393
['Adeel', 3.4]

In [9]:
# TASK-7

Nested_dict={1:{'Name=':"Adeel",
                 'ID=':200393},
             2:{'Name2=':"Sufyan",
                 'ID2=':191968},
             3:{'Name3=':"Khan",
                 'ID3=':384650}}
for key,v in Nested_dict.items():
    print(key,":",v)

1 : {'Name=': 'Adeel', 'ID=': 200393}
2 : {'Name2=': 'Sufyan', 'ID2=': 191968}
3 : {'Name3=': 'Khan', 'ID3=': 384650}